<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
</head>

<body>
<div class="container">
<h1>Coronavirus Tracker Application</h1>
<p>This application lists the current number of cases reported across the globe</p>




<div class="jumbotron">

<div class="d-flex justify-content-center">
  <div class="p-2">
  <h1 class="display-4 text-danger" th:text="${totalDeaths}"></h1>
    <p class="lead ">Total deaths </p>
    <br>
  </div>
  <div class="p-2">
   <h1 class="display-4 text-success" th:text="${recovered}"></h1>
    <p class="lead">Total Recovered </p>
    
  </div>
  <div class="p-2">
    <h1 class="display-4 text-warning" th:text="${recovered}"></h1>
    <p class="lead">Active </p>
  
  </div>
</div>
    
   
    
     <table class="table">
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>Active Cases</th>
            <th>Fatality Ratio</th>
            
        </tr>
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.Active}">0</td>
            <td th:text="${locationStat.caseFatalityRatio}">0</td>
        </tr>
    </table>
</div>
</body>

</html>

</div>